/* Custom CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.body-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleHomepage {
    text-align: center;
    padding-top: 30px;
    font-family: Impact;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode";
}

.container {
    max-width: 70vw;
    margin: 0 auto;
}

nav {
    background-color: #0c0c0c;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-left: 1rem;
}

.nav-con a {
    color: #cccccc;
    text-decoration: none;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bolder;
}

.menu input {
    margin-right: -25px;
    padding: 10px;
    padding-right: 25px;
    background-color: #2e2e2e;
    border: 0px;
    border-radius: 25px;
    color: #cccccc;
    height: 25px;
}

.menu input:focus {
    border: 0px;
    outline: none;
}

.menu button {
    padding: 0 1rem;
    background-color: #2e2e2e;
    border: 0px;
    border-radius: 25px;
    color: #cccccc;
    height: 25px;
}

td {
    padding: 5px;
}

.card-title {
    text-align: center;
    font-size: 16px;
}

.card {
    max-width: 500px;
    max-height: 700px;
    margin: 10px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.profile-picture {
    padding-bottom: 10px;
    width: 300px;
    height: 320px;
    overflow: hidden;
}

img {
    width: 350px;
    height: auto;
    display: block;
    margin: 0;
}

.social-icons img {
    width: 10%;
    margin: 5 10px;
}